/***********************************
*	index.htmlレイアウト制御用CSS	*
***********************************/
[class*="column-"] {
    min-height: 100px;
    background-color: #FFCCBC;
    border: 3px solid #333333;
    text-align: center;
}

.gaming {
    height: 200px;
}

footer p {
    margin: 15px 10px 15px 10px;
    color: #fff;
    font-family: "Rounded M Plus 1c Bold";
}

header{
    background-color: #FF8A65;
    text-align: center;
    margin-bottom: 30px;
}

.header-title{
    font-size: xxx-large;
    font-weight: inherit;
    color: #FFF;
    font-family: "Rounded M Plus 1c Bold";
}

.update-date{
    color: #FFF;
}